$da-firebrick: #DD2C00;
$orandark: #ef6c00;
$oranjuice: #FF8F00;
$orhoney: #ffb300;
$honey: #FFAB00;
$yelight: #ffe54c;
$brorange:#c68400;
$broranlight: #ff9d3f;
$brorandark: #b53d00;
$brownie: #4E342E;
$choco:#3E2723;
$grithe: #EEEEEE;
